<div class="container">
    <div class="row" class="title">
        <div class="col-m-12">
          <h1 style ="text-align:center; color:white;">Delete An Assignment</h1>
        </div>
      </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="popup">
            <h3>Please enter your password to delete an assignment</h3>
                <form class="form-group" [formGroup]="deleteForm" (ngSubmit)="confirmDeletion(deleteForm.value)" class="form-group">
                    <input type="text" class="form-control" placeholder="Password" formControlName="confirmDelete">
                    


                    <button class="cancelBut" type="button" (click)="cancel()">Cancel</button>
                    <button type="submit">Delete</button>
                </form>
        </div>
    </div>
</div> 