button {
    margin-top: 20px;
    font-family: Arial;
    background-color: #eee;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
    margin: 0 0 2em 0;
  }
  button:hover {
    background-color: #cfd8dc;
  }
  .title h1
  {
    color:white;
    text-align: center;
    display:inline-block;
  }
  .title
  {
    height:150px;
    background-color:#3c8add;
  }
  .material-icons
  {
    color:#3c8add;
    padding:30px;
    
  }

  a .material-icons
  {
    color:white;
    left:20%;
    display:inline-block;
  }
  .title a
  {
    width:30px;
    padding:0;
  }