<div class="container" *ngIf="assignmentDetail"> <!--only display if equal to something -->
    <div class="row" class="title">
        <div class="col-sm-12">
            
            <div>
                <h1>{{assignmentDetail.name}}</h1>
                
            </div>
            <a  routerLink="/edit/{{ assignmentDetail.id }}"><span class="material-icons">create</span></a>
                <a  routerLink="/delete/{{ assignmentDetail.id }}"><span class="material-icons">delete</span></a>
            
        </div>
    </div>

    <div class="row" class="descrip">
        <div class="col-sm-12">
            <div class="progress">
                <div class="progress-bar"  [style.width.%]="[width]" role="progressbar" aria-valuenow="80" aria-valuemin="10" aria-valuemax="100"><b>{{assignmentDetail.progress}} % Complete</b></div>
            </div>
            <p><span class="material-icons">event</span><b>Due Date </b> {{assignmentDetail.givenDate}}</p>
            <hr>
            <p><span class="material-icons">event</span><b> Given Date </b>{{assignmentDetail.dueDate}}</p>
            <hr>
            <p><span class="material-icons">description</span><b> Description </b>{{assignmentDetail.description}}</p>
            <hr>
        </div>

    </div>

    <button class="cancelBut" type="button" (click)="cancel()">Back</button>
</div>