button {
    margin-top: 20px;
    font-family: Arial;
    background-color: #eee;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
    margin: 0 0 2em 0;
  }
  button:hover {
    background-color: #cfd8dc;
  }