@import "~bootstrap/dist/css/bootstrap.css";

  h1
  {
    color: #007bff;
    font-family: Arial, Helvetica;
    font-size: 250%;
    padding-top:5%;
  }

  h2, h3 
  {
    color: rgb(68, 68, 68);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
  }

  body 
  {
    margin: 2em;
  }
  
  a 
  {
    cursor: pointer;
    cursor: hand;
  }

  /* everywhere else */
  * 
  {
    font-family: Arial, Helvetica, sans-serif;
  }

  button 
  {
    border:none;
    margin-top: 20px;
    font-family: Arial;
    background-color:#007bff; 
    padding: 15px 15px;
    cursor: pointer; cursor: hand;
    border-radius: 10px;
  }

  button a
  {
    color: white;
    text-decoration: none;
  }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.slider {
  -webkit-appearance: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  height: 10px;
  background: #d3d3d3;
  outline: none;
  border-radius: 10px;
  width:95%;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  cursor: pointer;
  width: 25px;
  height: 25px;
  border-radius: 25px;
  background:#007bff;
}

button
{
    color:white;
    border-radius: 10px;
    Margin-right:10px;
}
.cancelBut
{
  background-color:#d3d3d3 ;
  color: darkslategrey;
}

button:hover
{
  color: black;
  background-color: rgb(247, 239, 239);
  left: .1em;
}

.title
{
  height:180px;
  background-color:#007bff;
}


form div
{
  padding-bottom:30px;
}

form{
  margin-top:5%;
}