@import '~bootstrap/dist/css/bootstrap.css';

  h1
  {
    color: #007bff;
    font-family: Arial, Helvetica;
    font-size: 250%;
  }

  h2, h3 
  {
    color: rgb(68, 68, 68);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
  }

  body 
  {
    margin: 2em;
  }
  
  a 
  {
    cursor: pointer;
    cursor: hand;
  }

  /* everywhere else */
  * 
  {
    font-family: Arial, Helvetica, sans-serif;
  }

  button 
  {
    border:none;
    margin-top: 20px;
    font-family: Arial;
    background-color:#007bff; 
    padding: 15px 15px;
    cursor: pointer; cursor: hand;
    border-radius: 10px;
  }

  button a
  {
    color: white;
    text-decoration: none;
  }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
