.assignments {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 65em;
  }
  .assignments li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: rgb(187, 225, 231);
    margin: .5em;
    padding: .3em 0;
    height: 3.6em;
    border-radius: 4px;
  }
  .assignments li:hover {
    color: #607D8B;
    background-color: rgb(247, 239, 239);
    left: .1em;
  }

  .assignments a {
    color: #333;
    text-decoration: none;
    position: relative;
    display: block;
    width: 250px;
    line-height: 1em;
  }

  .assignments a:hover {
    color:rgb(33, 33, 34);
  }
  
  .assignments .badge {
    display: inline-block;
    font-size: medium;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color:#3c8add;
    line-height: 2.5em;
    position: relative;
    left: -1px;
    top: -5px;
    height: 3.4em;
    min-width: 26px;
    text-align: right;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
  }