<div class="container">
    <div class="row" class="title">
        <div class="col-m-12">
          <h1 style ="text-align:center; color:white;">Assignments Due</h1>
        </div>
      </div>
    <div class="row">
      <div class="col-sm-12">
            <button ><a routerLink="/add-assignment"><b>+</b> Assignment</a></button>
            <ul class="assignments">
                <li *ngFor="let assignment of assignmentList"> 
                    <!-- loop through assignmentlist and display each assignment-->

                    <a routerLink="/assignment/{{ assignment.id }}">
                        <span class="badge">{{assignment.progress}}% </span>
                        {{assignment.name}}
                        
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>