<div class="container">
    <div class="row">
      <div class="col-sm-4">
            <button><a routerLink="/add-assignment">+ Assignment</a></button>
            <ul class="assignments">
                <li *ngFor="let assignment of assignment">
                    <a routerLink="/assignment/{{ assignment.id }}">
                        <span class="badge">{{assignment.id}}</span>
                        {{assignment.name}}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>