<div class="container">
  <div class="row" class="title">
    <div class="col-m-12">
      <h1 style ="text-align:center; color:white;">Update An Assignment</h1>
    </div>
  </div>

    <div class="row">
      <div class="col-sm-12">
        <form class="form-group" *ngIf="updateAssignment" [formGroup]="updateFormItem" (ngSubmit)="onSubmit(updateFormItem.value)">
          <!-- when form is submitted ngsubmit is triggered, which calls onsubmit -->
        <div>
          <label>Title</label>
          <input type ="text" class="form-control" formControlName="name" placeholder=""/>
        </div>
  
        <div>
          <label>Description</label>
          <textarea type ="text" class="form-control" formControlName="description" placeholder=""></textarea>
        </div>
  
        <div>
          <label>Due Date</label>
          <input type="date" class="datepicker" class="form-control" formControlName="dueDate" placeholder="yyyy-mm-dd"/>
        </div>
  
        <div>
          <label>Given Date</label>
          <input type="date" class="datepicker" class="form-control" formControlName="givenDate" />
        </div>
  
        <div>
          <label>Progress</label>
          &nbsp;
          <p><input class="slider" type="range"  #newVal formControlName="progress" min="1" max="100" >&nbsp; {{newVal.value}}<b>%</b></p> 
          <!-- the input Value is stored in newVal -->
        </div>

        <button class="cancelBut" type="button" (click)="cancel()">Cancel</button>
        <button type="submit">Update</button>
        
        </form>
      </div>
    </div>
  </div>
