

  .slider {
    -webkit-appearance: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    border-radius: 25px;
  }

  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    background:#3c8add;
  }

  button{
      color:white;
  }