<div class="container">
  <div class="row" class="title">
    <div class="col-m-12">
      <h1 style ="text-align:center; color:white;">Add An Assignment</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12" >

      <form class="form-group" [formGroup]="newFormItem" (ngSubmit)="onSubmit(newFormItem.value)">
        <!-- when form is submitted ngsubmit is triggered, which calls onsubmit -->
        <div>
          <label>Title</label>
          <input type ="text" class="form-control" formControlName="name" placeholder="Assignment Title"/>
       </div>

        <div>
          <label>Description</label>
          <textarea type ="text" class="form-control" formControlName="description" placeholder="Assignment description"></textarea>
        </div>

        <div>
          <label>Due Date</label>
          <input type="date" class="datepicker" class="form-control" formControlName="dueDate" placeholder="yyyy-mm-dd"/>
        </div>

        <div>
          <label>Given Date</label>
          <input type="date" class="datepicker" class="form-control" formControlName="givenDate" placeholder="yyyy-mm-dd"/>
        </div>

        <div>
          <label>Progress</label>
          &nbsp;
          <p><input class="slider" type="range" #newVal  formControlName="progress" min="1" max="100">&nbsp;{{newVal.value}}<b>%</b></p> 
        </div>

        <button class="cancelBut" type="button" (click)="cancel()">Cancel</button>
        
        <button type="submit">Save</button>
      </form>
    </div>
  </div>
</div> 
 
