

  .slider {
    -webkit-appearance: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    height: 10px;
    background: #d3d3d3;
    outline: none;
    border-radius: 10px;
    width:350px;
  }

  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    background:#3e8de2;
  }

  button
  {
      color:white;
      border-radius: 10px;
      margin-top:30px;
      margin-left:280px;
  }

  button:hover
  {
    color: black;
    background-color: rgb(247, 239, 239);
    left: .1em;
  }